.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background);
  color: #fff;
  padding: 20px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.footer div {
  display: flex;
  gap: 10px;
}

.footer a {
  color: #4da6ff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #ffcc00;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
}
