@import url('./reset.css');
@import url('./footer.css');

body {
  --background: #2c3247;
  background-color: #e5eaf2;
}

.header {
  background-color: var(--background);
  color: white;
  padding: 20px 0;
  text-align: center;
}

#weather-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 100vh;
}

.city-weather {
  display: flex;
  width: 50%;
  justify-content: space-between;
  font-size: 22px;
  background-color: white;
  border-radius: 6px;
  color: black;
  gap: 40x;
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.city {
  width: 200px;
  font-size: 28px;
}

.read {
  width: 200px;
  text-align: end;
}

.temp {
  font-size: 24px;
}
